.form {
    width: 100%;
    background-color: #fcebd1;
}

.profilePicture {
    width: 100%;
    border-radius: 3em;
    border: .2em solid wheat;
    display: block;
}

.profile-container {
    position: relative;
    display: inline-block;
    width: 50%; 
}

.subir-texto {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); 
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3em; 
    font-size: 1.2em;
    opacity: 0; 
    transition: opacity 0.3s ease;
    pointer-events: none; 
}

.profile-container:hover .subir-texto {
    opacity: 1; /* Mostrar solo cuando el mouse esté sobre la imagen */
}



.themeInput {
    display: flex;
    justify-content: space-around;
}

.icon {
    margin-top: .3em;
    font-size: 1.5rem;
}

.flecha {
    cursor: pointer;
}