#imagenPrincipal {
  width: 35em;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.fontKantumruy {
  font-family: "Kantumruy Pro";
}

.cantidadVendidos {
  font-size: calc(0.7rem + 0.1vw);
  text-transform: uppercase;
  font-weight: 700;
  color: #9a9494;
}

.sideBarSection {
  padding: 1em;
  margin: 0.3em;
  margin-bottom: 1em;
  width: 70%;
  border-radius: 1em;
  background-color: #fcebd1;
}

.sideBarSection>h3 {
  font-size: calc(16px + 0.3vw);
}

.c {
  color: rgb(14, 13, 13);
  font-size: 35px;
  font-weight: bold;
}

.star-rating {
  display: flex;
  gap: 15px;
  font-size: 3rem;
  justify-content: center;
  align-items: center;
  color: #706b6b;
}

.star-rating input[type="radio"] {
  display: none;
}

.star-rating label:hover,
.star-rating input[type="radio"]:checked+label {
  transform: scale(1.2);
  color: #f38c16;
}

.comentariosInput {
  width: 70%;
  padding: 2rem;
  margin-top: 20px;
  text-align: center;
  border: 3.5px solid #030303;
  margin-left: 12rem;
}

.fas {
  padding: .1em;
  font-size: .8rem;
}

.comentario-calificaciones {
  display: flex;
  flex-direction: column;
  margin: 1em;
  padding: 1.5em 2em;
  background-color: #fde29e;
  border-radius: 0.5em;
  width: 60%;
  font-size: calc(12px + .2vw);
  font-family: "Inconsolata", "montserrat", serif;
}

.contenedorSuperiorClasificaciones {
  display: flex;
  justify-content: space-between;
}

.fechaCalificaciones {
  align-self: flex-end;
  width: fit-content;
  text-align: right;
  color: #000000;
  font-size: 16px;
}

.estrellas{
  margin-bottom: 1em;
}

#ListaComentarios {
  list-style-type: none;
}

.comentarioCalificaciones {
  padding-top: 25px;
}

/********************MODAL CALIFICACION***********************/


.titulo-calificacion {
  font-size: 1.5rem;
  color: #000000;
  font-family: "Kantumruy Pro";
}

/********************PRODUCTOS RELACIONADOS***********************/

.articuloProductosLineal {
  padding: 0.5em;
  border-radius: 0.5em;
  box-shadow: 2px 2px #f3d2a2;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.563);
}

.articuloProductosLineal:hover {
  background-color: #f6dfbd;
}

.imgProductosLineal {
  width: 100px;
  border-radius: 1em;
} 